<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackupForm.Properties.Settings.payrollConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\payroll.mdb"
            providerName="System.Data.OleDb" />
        <add name="BackupForm.Properties.Settings.payrollConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\basne\OneDrive\Documentspayroll.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="BackupForm.Properties.Settings.empdetailsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\empdetails.mdb"
            providerName="System.Data.OleDb" />
        <add name="BackupForm.Properties.Settings.login111ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\basne\OneDrive\Documentslogin111.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="BackupForm.Properties.Settings.login111ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\login111.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>